/* override */

html {
    font-family: "Noto Sans", "Microsoft yahei";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Sans", "Microsoft yahei";
    color: black;
    margin-bottom: 1rem;
}

body {
    color: black;
}

li ul {
    margin-bottom: 0.2rem;
}

.post-date {
    display: inline;
    margin: 0;
}

.pagination {
    font-family: "Noto Sans", "Microsoft yahei";
}


/* */

blockquote cite {
    font-size: 0.8rem;
}

h1.post-title {
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

em,
strong {
    color: #AE403F;
}

img {
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

pre {
    background-color: #f0f0f0;
}

code {
    background-color: #e6e6e6;
}

figure {
    margin: 0;
}

mark {
    border-radius: 5px;
}


/* definition list */

dl {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 0.2em;
}

dt {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

dd {
    padding: 0.5rem 0 1rem 0;
    margin-bottom: 0;
}

dl dd:last-child {
    padding-bottom: 0;
}

dd ul:last-child,
dd p:last-child {
    margin-bottom: 0;
}

dd .MathJax_SVG_Display:nth-last-child(2) {
    margin-bottom: 0.5em;
}


/* scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}


/* */

.sidebar {
    font-family: "Open Sans", "Microsoft yahei";
}


/* excerpt */

.excerpt {
    margin-bottom: 1rem;
    padding: 1rem;
    color: #717171;
    background-color: #f0f0f0;
    border-radius: 5px;
}


/* img */

.image-wrapper {
    text-align: center;
    margin-bottom: 1rem;
}

.image-wrapper img {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.image-wrapper p.image-caption {
    color: #717171;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.posts .post {
    margin-bottom: 40px;
}

.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
    font-weight: bold
}

.post hr {
    border-top-color: #c8c8c8;
}

hr.quarter {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-top-color: #c8c8c8;
}

.emoji::before,
.emoji::after {
    content: '\00a0'
}

.post-info {
    margin-bottom: 1rem;
}

.post-info span {
    vertical-align: middle;
}

.post-tag {
    font-size: 0.75em;
    color: var(--color-accent);
    background: var(--color-accent-lighter);
    padding: 0.1333em 0.6em 0.2666em;
    margin-right: 0.5em;
    border-radius: 0.2em;
    line-height: normal;
}

i.fa {
    margin-right: 0.5em;
}

.sidebar-toggle i.fa {
    margin-right: 0;
}

::selection {
    background: var(--color-accent-lighter);
}